<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<div class="headertop_desc">
		<div class="call">
			<p>
				<span>Liên hệ ngay!</span> Gọi số: <span class="number">0365887744</span></span>
			</p>
		</div>
		<div class="account_desc">
			<ul>
				<th:block th:if="${#request.isUserInRole('ROLE_ADMIN')}">
					<li><a th:href="@{/productList}">Sản Phẩm</a></li>
				</th:block>
				<th:block th:if="${#request.isUserInRole('ROLE_ADMIN')}">
					<li><a th:href="@{/addCatalogy}"> Add Catalogy</a></li>
				</th:block>
				<li><a href="#">Đăng ký</a></li>
				<li><a th:href="@{/login}">Đăng nhập</a></li>
				<li><a href="#">My Account</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</body>
</html>