
#container {
	margin:0 auto;
	position:relative;
	z-index:0;
}
#products_example {
	position:relative;
}
/*Slideshow*/
#products .slides_container {
	width:99.5%;
	overflow:hidden;
	float:left;
	position:relative;
	border:1px solid #dfdfdf;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:366px;
	height:274px;
	display:block;
}

/*Next/prev buttons*/

#products .next,#products .prev {
	position:absolute;
	top:127px;
	left:5px;
	width:21px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}
#products .prev {
	background:url(../images/arrow-prev.png);
}

#products .next {
	left:350px;
	background:url(../images/arrow-next.png);
}

/*****Pagination********/

#products .pagination {
	background:#dfdfdf;
	padding:5px;
	float:left;
}
#products .pagination li {
	float:left;
	margin:2px 4px;
	list-style:none;
}
#products .pagination li a {
	display:block;
	width:55px;
	height:41px;
	margin:1px;
	float:left;
	background:#f9f9f9;
}
#products .pagination li.current a {
	border:1px solid #7f7f7f;
	margin:0;
}
@media only screen and (max-width: 1440px) {
	#products .next {
		left: 318px;
	}
}
@media only screen and (max-width: 1366px) {
	#products .next {
		left: 300px;
	}
}
@media only screen and (max-width: 1280px) {
	#products .next {
		left: 380px;
	}
	}
@media only screen and (max-width: 1024px) {
	#products .pagination li {
		margin:2px 14px;
	}
	#products .next {
		left: 496px;
   }
}
@media only screen and (max-width: 991px) {
		
	#products .pagination li {
		margin: 2px 12.6px;
	}
	#products .next {
		left: 474px;
	}
	
}
@media only screen and (max-width: 900px) {
	#products .pagination li {
		margin: 2px 8.7px;
	}
	#products .next {
		left: 432px;
	}
}
@media only screen and (max-width: 800px) {
	.slides_container a{
		width:320px;
	}
	#products .pagination li {
		margin: 2px 6.3px;
	}
	#products .next {
		left: 403px;
   }
}
@media only screen and (max-width: 768px) {
	#products .pagination li {
		margin: 2px 4.85px;
	}
	#products .next {
		left: 387px;
	}
	.span_3_of_2 .button a {
		padding: 7px 16px;
		font-size: 0.97em;
	}
	
	
}
@media only screen and (max-width: 736px) {
	#products .slides_container {
		width: 97.5%;
	}
}
@media only screen and (max-width: 640px) {
		/*.slides_container a{
		width:250px;
   } */
     #products .next {
   	 left: 372px;
	}
	#products .slides_container {
		width: 99.5%;
	}
}
@media only screen and (max-width: 600px) {
	#products .next {
		left: 378px;
	}
}
@media only screen and (max-width: 480px) {
	.slides_container a{
		width:340px;
		padding-top:0;
	}
	#products .next {
		left: 343px;
	}
	#products .pagination li {
		margin: 2px 1.4px;
	}
}
@media only screen and (max-width: 384px) {
	#products .next {
		left: 315px;
	}
	#products .pagination li a {
		width: 50.5px;
	}
}
@media only screen and (max-width:375px) {
	
	#products .pagination li a {
		width: 49px;
	}
}
@media only screen and (max-width:320px) {
#products .next{
	left:255px;
}
#products .pagination li a {
	width: 33.4px;
	height:28px;
}
.slides_container a{
	width:285px;
	padding-top:30px;
}
#products .pagination li{
	margin:2px 5px;
}
.wish-list li a{
	font-size:0.8em;
}
.your-review input[type="text"], .your-review textarea{
	width:93%;
}
.signup{
	width:98%;
}

}
<!--dddddd-->
/*Time for the CSS*/
* {margin: 0; padding: 0;}
body {background: #ccc;}

.slider{
	max-width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	max-height: 320px;
	margin: 10px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/

