<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>NÔNG SẢN SẠCH</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link th:href="@{/css/homepage/style.css}" rel="stylesheet" type="text/css" media="all" />
<link th:href="@{/css/homepage/slider.css}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" th:src="@{/js/homepage/jquery-1.7.2.min.js}"></script>
<script type="text/javascript" th:src="@{/js/homepage/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/homepage/easing.js}"></script>
<script type="text/javascript" th:src="@{/js/homepage/startstop-slider.js}"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="headertop_desc">
				<div class="call">
					<p>
						<span>Need help?</span> call us <span class="number">1-22-3456789</span></span>
					</p>
				</div>
				<div class="account_desc">
					<ul>
						<li><a href="#">Register</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Delivery</a></li>
						<li><a href="#">Checkout</a></li>
						<li><a href="#">My Account</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="header_top">
				<div class="logo">
					<a href="/home"><img src="http://placehold.it/50x50" alt="" /></a>
				</div>
				<div class="cart">
					<p>
						Welcome to our Online Store! <span>Cart:</span>
					<div id="dd" class="wrapper-dropdown-2">
						0 item(s) - $0.00
						<ul class="dropdown">
							<li>you have no items in your Shopping cart</li>
						</ul>
					</div>
					</p>
				</div>
				<script type="text/javascript">
					function DropDown(el) {
						this.dd = el;
						this.initEvents();
					}
					DropDown.prototype = {
						initEvents : function() {
							var obj = this;

							obj.dd.on('click', function(event) {
								$(this).toggleClass('active');
								event.stopPropagation();
							});
						}
					}

					$(function() {

						var dd = new DropDown($('#dd'));

						$(document).click(function() {
							// all dropdowns
							$('.wrapper-dropdown-2').removeClass('active');
						});

					});
				</script>
				<div class="clear"></div>
			</div>
			<div class="header_bottom">
				<div class="menu">
					<ul>
						<li class="active"><a href="/home/homepage">Home</a></li>
						<li><a href="/home/homepage">Thông tin</a></li>
						<li><a href="/home/homepage">Giới thiệu</a></li>
						<li><a href="/home/homepage">Tin tức</a></li>
						<li><a href="/home/homepage">Liên hệ</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="search_box">
					<form>
						<input type="text" value="Search" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Search';}"><input
							type="submit" value="">
					</form>
				</div>
				<div class="clear"></div>
			</div>
			<div class="header_slide">
				<div class="header_bottom_left">
					<div id="catalogys" class="categories">
						<ul>
							<h3>Danh mục sản phẩm</h3>
							<div th:each="catalogy : ${catalogys}">
								<li><a th:href="${'/findByCatalogy/' + catalogy.id}"
									th:text="${catalogy.name}"></a></li>
							</div>
						</ul>
					</div>
				</div>
				<div class="header_bottom_right">
					<div class="slider">
						<div id="slider">
							<div id="mover">
								<div id="slide-1" class="slide">
									<div class="slider-img">
										<a href="/home"><img src="http://placehold.it/300x300"
											alt="learn more" /></a>
									</div>
									<div class="slider-text">
										<h1>
											Clearance<br>
											<span>SALE</span>
										</h1>
										<h2>UPTo 20% OFF</h2>
										<div class="features_list">
											<h4>Get to Know More About Our Memorable Services Lorem
												Ipsum is simply dummy text</h4>
										</div>
										<a href="/home" class="button">Shop Now</a>
									</div>
									<div class="clear"></div>
								</div>
								<div class="slide">
									<div class="slider-text">
										<h1>
											Clearance<br>
											<span>SALE</span>
										</h1>
										<h2>UPTo 40% OFF</h2>
										<div class="features_list">
											<h4>Get to Know More About Our Memorable Services</h4>
										</div>
										<a href="/home" class="button">Shop Now</a>
									</div>
									<div class="slider-img">
										<a href="/home"><img src="http://placehold.it/300x300"
											alt="learn more" /></a>
									</div>
									<div class="clear"></div>
								</div>
								<div class="slide">
									<div class="slider-img">
										<a href="/home"><img src="http://placehold.it/300x300"
											alt="learn more" /></a>
									</div>
									<div class="slider-text">
										<h1>
											Clearance<br>
											<span>SALE</span>
										</h1>
										<h2>UPTo 10% OFF</h2>
										<div class="features_list">
											<h4>Get to Know More About Our Memorable Services Lorem
												Ipsum is simply dummy text</h4>
										</div>
										<a href="/home" class="button">Shop Now</a>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="main">
			<div class="content">
				<div class="content_top">
					<div class="heading">
						<h3>New Products</h3>
					</div>
					<div class="see">
						<p>
							<a href="#">See all Products</a>
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div id="products" class="section group">
					<div class="grid_1_of_4 images_1_of_4" th:each="product : ${products}">
						<a th:href="${'/productDetail/' + product.id}"><img th:src="@{|/productImage?id=${product.id}|}" alt="" /></a>
						<h2><a th:href="${'/productDetail/' + product.id}" th:text="${product.name}"></a></h2>
						<div class="price-details">
							<div>
								<p class="card-text" th:text="${product.shortdesc}"></p>
							</div>
							<div class="price-number">
								<p>
									<span class="rupees" th:text="${product.price}"></span>
								</p>
							</div>
							<div class="add-cart">
								<h4>
									<a th:href="${'/productDetail/' + product.id}">Xem thêm</a>
								</h4>
							</div>
							<div class="clear"></div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<h4>Information</h4>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Advanced Search</a></li>
						<li><a href="#">Orders and Returns</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Why buy from us</h4>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Site Map</a></li>
						<li><a href="#">Search Terms</a></li>
					</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>My account</h4>
					<ul>
						<li><a href="#">Sign In</a></li>
						<li><a href="#">View Cart</a></li>
						<li><a href="#">My Wishlist</a></li>
						<li><a href="#">Track My Order</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Contact</h4>
					<ul>
						<li><span>+91-123-456789</span></li>
						<li><span>+00-123-000000</span></li>
					</ul>
					<div class="social-icons">
						<h4>Follow Us</h4>
						<ul>
							<li><a href="#" target="_blank"><img src="http://placehold.it/30x30" alt="" /></a></li>
							<li><a href="#" target="_blank"><img src="http://placehold.it/30x30" alt="" /></a></li>
							<li><a href="#" target="_blank"><img src="http://placehold.it/30x30" alt="" /> </a></li>
							<li><a href="#" target="_blank"><img src="http://placehold.it/30x30" alt="" /></a></li>
							<li><a href="#" target="_blank"><img src="http://placehold.it/30x30" alt="" /></a></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copy_right">
			<p>
				&copy; 2013 home_shoppe. All rights reserved | Design by <a
					href="http://w3layouts.com/">W3layouts</a>
			</p>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>
